desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$laranja  = #F19E52
$vermelho = #E33B38
$amarelo  = #FFCC00
$texto    = #666666

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,300')
ubuntu($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
