.listaCases
    text-align center
    margin-bottom 60px
    font-size 0
    +mobile()
        margin-bottom 30px
    > span
        display block
        width desktop-base-width
        position relative
        margin 0 auto
        +below($tablet)
            width 90%
    a
        border 1px #D2D2D2 solid
        transition all .3s
        width 19.3%
        margin-bottom 0.875%
        margin-right 0.875%
        display inline-block
        vertical-align top
        padding 5px
        &:nth-child(5n)
            margin-right 0
        img
            display block
            width 100%
        &:hover, &.aberto
            border-color $vermelho
    .detalhes
        font-size 0
        display block
        margin 0
        padding 0
        height 0
        overflow hidden
        background #EE8D36
        transition all .3s
        text-align left
        .center
            position relative
            clearfix()
            .setaUp
                position absolute
                width 0
                height 0
                border-style solid
                border-width 0 9.5px 10px 9.5px
                border-color transparent transparent #EE8D36 transparent
                top 0
                left 0
                opacity 0
                transition all .3s
        .fechar
            position absolute
            top 0
            right 0
            width 21px
            height 21px
            cursor pointer
            background url('../images/layout/cases-fechar.png') center center no-repeat
            transition all .3s
            &:hover
                background url('../images/layout/cases-fechar-hover.png') center center no-repeat
        .imagem
            display block
            padding 12px
            background #fff
            float left
            width 30%
            +mobile()
                width auto
                display inline-block
                margin-bottom 20px
            img
                width 100%
                display block
                +mobile()
                    max-width 100%
                    width auto
        .texto
            width 65%
            float right
            color #fff
            +mobile()
                width 100%
                float left
                clear left
            .cke
                ubuntu 14
                color #fff
                p:last-child
                    margin-bottom 0
        h2
            ubuntu 24px bold italic
            color #FFCC00
            margin 0 0 20px
            +mobile()
                font-size 20px
                margin-bottom 12px
        &.aberto
            overflow visible
            height auto
            margin 10px 0 20px 0
            padding 40px 0
            +mobile()
                padding 25px 0
            .center .setaUp
                opacity 1
                top -50px
                +mobile()
                    top -35px
