.contato
    margin-top 0
    .mapa
        width 100%
        height 300px
        margin-bottom 45px
        +mobile()
            height 180px
            margin-bottom 25px
        +tablet()
            height 240px
            margin-bottom 35px
        iframe
            display block
            width 100%
            height 100%
    h2
        display block
        border-bottom 1px solid #D0D0D0
        font-size 22px
        height 2em
        line-height 2em
        margin-top 0
        span
            display inline-block
            ubuntu 22
            color $laranja
            border-bottom 1px solid $laranja
            transform translateY(-1px)
        +tablet()
            font-size 19px
            span
                ubuntu 19
        +mobile()
            font-size 18px
            span
                ubuntu 18
    .center
        clearfix()
    form
        width 60%
        float left
        clearfix()
        +tablet()
            width 55%
        +mobile()
            width 100%
            margin-bottom 30px
        input
        textarea
            +placeholder()
                color #CFCFCF
            display block
            resize none
            width 100%
            display block
            border 1px solid #D0D0D0
            outline 0
            ubuntu 14
            padding .7em
            color $texto
            margin-bottom 6px
            +above($tablet)
                &#email
                &#telefone
                    width calc('50% - 3px')
                    float left
                &#telefone
                    float right
        textarea
            height 180px
        input[type='submit']
            width auto
            float right
            ubuntu 20
            color #fff
            background $laranja
            transition background .3s
            border 0
            padding .5em 1.2em
            &:hover
                background $vermelho
        #form-contato-response
            ubuntu 13 italic
            color $vermelho
            margin-top 15px
    .info
        width 33%
        float right
        +mobile()
            width 100%
        +tablet()
            width 40%
        .telefone
            color $laranja
            ubuntu 23
            margin 10px 0 20px
            line-height 1
            span
                ubuntu 50
            +below($tablet)
                ubuntu 22
                span
                    ubuntu 36
        .endereco
            ubuntu 16
            color $texto
            +mobile()
                ubuntu 14
            +mobile()
                ubuntu 15
        .grupometa
            margin-top 50px
            span
                ubuntu 10
                float left
                display inline-block
                text-align right
                color #BABABA
                margin-right 14px
                margin-top 7px
            +tablet()
                span
                    display block
                    float none
                    text-align left
                    margin 0 0 5px
