.perfil
    margin-top 0
    text-align center
    .banner
        width 100%
        height 400px
        background $img('bannerempresa.png') no-repeat center
        background-size cover
        position relative
        margin-bottom 30px
        +tablet()
            height 300px
        +mobile()
            height 200px
        .center
            height 100%
        .frase
            width 100%
            margin 0
            position absolute
            bottom 0
            left 0
            background rgba($texto, .5)
            div
                text-align center
                ubuntu 21 normal italic
                color #fff
                padding 1.5em 0
                +tablet()
                    font-size 18px
                +mobile()
                    font-size 16px
                    padding 1em 0
    .perfil-content
        clearfix()
        > img
            display block
            width 30%
            float left
            +mobile()
                float none
                clear left
                width auto !important
                margin 0 auto
                max-width 100%
        .texto-wrapper
            width 65%
            margin-left 5%
            float left
            +mobile()
                width 100%
                margin-top 25px
                margin-left 0
            .video-embed
                width 100%
                float left
                margin-bottom 25px
                position relative
                padding-bottom 56.25%
                height 0
                overflow hidden
                max-width 100%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            img
                display block
                width 31%
                float right
                +mobile()
                    float none
                    clear left
                    width auto !important
                    margin 0 auto
                    max-width 100%
            .texto
                width 61.7%
                float left
                text-align left
                +mobile()
                    width 100%
                    margin 25px 0
                p
                    ubuntu 14
                    color $texto
                    &:first-child
                        margin-top 0

.diferencial
    text-align center
    margin-top 0
    .wrapper
        background #E5E5E5
        position relative
        min-height 502px
        +tablet()
            min-height 400px
        +mobile()
            min-height auto
            background #fff
        .center
            height 100%
            position relative
        img
            position absolute
            right 50%
            top 0
            +tablet()
                height 400px
            +mobile()
                position relative
                width 100%
                left 0
                right 0
        .texto
            margin-left 50%
            padding 2em 0 2em 2em
            text-align left
            +mobile()
                width 100%
                margin 0
                padding 1.4em 0 0
            p
                ubuntu 14
                color darken($texto, 5)
                margin 1.4em 0
            ul
                list-style-type none
                padding 0
                margin 1em 0 1.5em
                li
                    ubuntu 14
                    color darken($texto, 5)
                    position relative
                    padding-left 1em
                    margin 1.4em 0
                    strong
                        ubuntu 18 bold
                    &:before
                        content ''
                        position absolute
                        width 3px
                        height 3px
                        background darken($texto, 5)
                        left 0
                        top .65em
                        border-radius 100%
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0

.btn
    margin 40px auto 0
    display inline-block
    background $vermelho
    ubuntu 16
    color #fff
    padding 10px 16px
    border-radius 28px
    transition background .3s
    +mobile()
        font-size 15px
    &:hover
        background $laranja
