.home
    .banners
        width 100%
        height 410px
        position relative
        +mobile()
            height 320px
        .cycle-pager
            position absolute
            bottom 10px
            width 100%
            font-size 0
            text-align center
            z-index 101
            +mobile()
                display none
            a
                display inline-block
                width 10px
                height 10px
                border 2px solid $vermelho
                margin 0 1px
                border-radius 100%
                text-indent -9999px
                transition background .3s
                &.cycle-pager-active
                    background $amarelo
        .banner
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            overflow hidden
            background-size cover
            background-position center
            .center
                height 100%
                position relative
            h2
            p
                margin 0
            a
                position absolute
                display inline-block
                white-space nowrap
                background $vermelho
                padding 8px 24px
                ubuntu 16
                color #fff
                border-radius 14px
                bottom 45px
                left 50%
                transform translateX(-50%)
                transition background .3s, color .3s
                +mobile()
                    bottom 20px
                    font-size 15px
                    padding 8px 18px
                &:hover
                    background $amarelo
                    color $texto
            .circulo
                position absolute
                width 530px
                height 530px
                background rgba($laranja, .6)
                border-radius 100%
                right -20px
                top -50px
                +mobile()
                    width 150%
                    height 150%
                    border-radius 0
                    right -25%
                    top -25%
            .texto
                position absolute
                width 400px
                height 100%
                right 45px
                padding-top 90px
                text-align center
                +mobile()
                    width 100%
                    height 100%
                    padding-top 25px
                    right 0
                h2
                    ubuntu 32 normal italic
                    color #fff
                    line-height 1.2
                    +mobile()
                        font-size 24px
                p
                    ubuntu 24 normal italic
                    color #fff
                    margin-top 20px
                    line-height 1.2
                    +mobile()
                        font-size 18px
                        margin-top 15px
            .bg
                position absolute
                height 100%
                width 384px
                bottom 0
                right 40px
                background $img('flor-acima.png') no-repeat center bottom
                +mobile()
                    display none
    .nossas-solucoes
        width 100%
        height 160px
        background #EE8E36
        +below($tablet)
            height auto
        .center
            clearfix()
            position relative
            height 100%
            padding-left 210px
            +below($tablet)
                padding-left 0
                padding 40px 0
            +mobile()
                padding 25px 0
            .bg
                position absolute
                height 100%
                width 384px
                top 0
                right 40px
                background $img('flor-abaixo.png') no-repeat center top
                +mobile()
                    display none
        p
            margin 0
            display inline-block
            ubuntu 24 bold
            color #fff
            text-align right
            position absolute
            top 50%
            left 0
            max-width 165px
            line-height 1.1
            transform translateY(-50%)
            z-index 2
            +below($tablet)
                width 100%
                max-width 100%
                text-align left
                top 0
                position relative
                transform none
            +mobile()
                ubuntu 18 bold
        a
            display block
            float left
            height 100%
            position relative
            z-index 2
            +below($tablet)
                height 100px
                width 100%
                margin 30px 0 0 !important
            +mobile()
                height 70px
                margin 20px 0 0 !important
            &:last-child
                margin-left 40px
            clearfix()
            &.active:after
                content ''
                position absolute
                background #E5E5E5
                width 2000px
                height 100%
                top 0
                right 0
                z-index -1
                border-radius 0 0 80px 0
            .icone
                display block
                width 100px
                height 100px
                float left
                border-radius 100%
                position relative
                margin-top 30px
                transition transform .3s
                +below($tablet)
                    margin 0
                +mobile()
                    width 70px
                    height 70px
                    background-size 100% auto !important
                &:before
                &:after
                    content ''
                    position absolute
                    border-radius 100%
                &:before
                    width calc('100% + 4px')
                    height calc('100% + 4px')
                    top -2px
                    left -2px
                    border 4px solid #E96A3F
                &:after
                    width calc('100% + 12px')
                    height calc('100% + 12px')
                    top -6px
                    left -6px
                    border 4px solid #E33B38
                    transition border .3s
                &.atracao-e-selecao
                    background $img('ico-atracaotalentos.png') no-repeat center
                &.desenvolvimento-de-jovens-talentos
                    background $img('ico-desenvtalentos.png') no-repeat center
            .titulo
                height 100%
                max-width 230px
                display table
                float left
                margin-left 20px
                position relative
            span
                display table-cell
                vertical-align middle
                max-width 220px
                ubuntu 20
                color #fff
                margin-top 50%
                text-transform uppercase
                transition color .3s
                +mobile()
                    ubuntu 16
                    max-width 180px
            &:hover
                .icone:after
                    border-color $amarelo
                span
                    color $amarelo
#metanews
    +tablet()
        #faixa-superior h1
            font-size 17px !important
    +mobile()
        #faixa-superior h1
            display none !important
        .coluna
            &:first-child
                padding-top 15px !important
            width 100% !important
            padding 0 0 15px !important
