.oportunidades
    .btn-oportunidades
        background #EE8D36
        display block
        padding 30px 0
        text-align center
        border-radius 5px 5px 60px 5px
        transition background .3s
        margin-bottom 40px
        &:hover
            background $vermelho
        +mobile()
            padding 20px
            margin-bottom 20px
            border-radius 4px 4px 40px 4px
        p
            ubuntu 28
            padding 5px 0
            min-height 64px
            line-height 1.2
            margin 0
            color #fff
            text-align right
            display inline-block
            padding-right 90px
            background $img('ilustra-oportunidades.png') no-repeat center right
            span
                ubuntu 22 bold
                display block
            +mobile()
                font-size 22px
                span
                    font-size 18px
    h2
        color #EE8D36
        margin 0 0 25px
        line-height 1
        ubuntu 26 bold italic
        +tablet()
            font-size 22px
        +mobile()
            font-size 20px
    .vagas
        display flex
        flex-wrap wrap
        font-size 0
        a.vaga:hover
            background $amarelo
        .vaga
            display inline-block
            vertical-align top
            background #E5E5E5
            width 19.52%
            margin-right .6%
            margin-bottom .6%
            padding 9px 9px 32px
            position relative
            transition background .3s
            &:nth-child(5n)
                margin-right 0
            +tablet()
                margin-right .8%
                margin-bottom .8%
                width 32.5333%
                &:nth-child(5n)
                    margin-right 1%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                margin-right 1%
                margin-bottom 1%
                width 49.5%
                &:nth-child(5n)
                    margin-right 1%
                &:nth-child(2n)
                    margin-right 0
            .imagem
                width 100%
                background #fff
                padding 10px
                > img
                    width 100%
                    display block
            .tipo
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                ubuntu 11
                color #fff
                display inline-block
                background #BBBBBB
                padding 4px 14px
                white-space nowrap
                text-transform uppercase
            .texto
                ubuntu 12
                color darken($texto, 5)
                width 100%
                display block
                text-align center
                margin-top 10px
            .status
                position absolute
                bottom 0
                left 0
                display block
                width 100%
                ubuntu 10
                text-align center
                padding 3px 0
                white-space nowrap
                img
                    transform translateY(1px)
                    margin-left 2px
                &.encerrada
                    background #FFB76F
                    color darken(#FFB76F, 20)
                &.aberta
                    background #33CC99
                    color rgba(#fff, .6)
