.privacidade
    p
        ubuntu 14
        color $texto
    ul
        list-style-type none
        padding 0
        margin 1em 0 1.5em
        li
            ubuntu 14
            color $texto
            position relative
            padding-left 1em
            margin .5em 0
            &:before
                content ''
                position absolute
                width 3px
                height 3px
                background $texto
                left 0
                top .45em
                border-radius 100%
    h2
        color $vermelho
        ubuntu 18 bold
    h3
        color $laranja
        ubuntu 16 bold
