.solucoes
    margin 0
    .wrapper
        width 100%
        position relative
        background #F2F2F2
        overflow hidden
        .center
            position relative
            clearfix()
            .bg
                position absolute
                top 0
                left 75%
                width 3000px
                height 100%
                background #fff
                +mobile()
                    display none
        .solucoes-lista
        .texto
            position relative
            z-index 1
            margin-top 25px
        .solucoes-lista
            width 38%
            float left
            padding-bottom 30px
            +tablet()
                width 40%
            +mobile()
                width 100%
                padding-bottom 0
            a
                display block
                padding 18px 0
                position relative
                &.active:after
                    content ''
                    position absolute
                    background #E5E5E5
                    width 2000px
                    height 100%
                    top 0
                    right 0
                    z-index -1
                    border-radius 0 0 80px 0
                .icone
                    display block
                    width 100px
                    height 100px
                    border-radius 100%
                    position relative
                    +mobile()
                        width 90px
                        height 90px
                        background-size 100% auto !important
                    +tablet()
                        width 65px
                        height 65px
                        background-size 100% auto !important
                    &:before
                    &:after
                        content ''
                        position absolute
                        border-radius 100%
                    &:before
                        width calc('100% + 4px')
                        height calc('100% + 4px')
                        top -2px
                        left -2px
                        border 4px solid #E96B40
                    &:after
                        width calc('100% + 12px')
                        height calc('100% + 12px')
                        top -6px
                        left -6px
                        border 4px solid $laranja
                        transition border .3s
                    &.atracao-e-selecao
                        background $img('ico-atracaotalentos.png') no-repeat center
                    &.desenvolvimento-de-jovens-talentos
                        background $img('ico-desenvtalentos.png') no-repeat center
                span
                    display inline-block
                    position absolute
                    left 125px
                    top 50%
                    transform translateY(-50%)
                    ubuntu 18
                    color $laranja
                    text-transform uppercase
                    transition color .3s
                    +tablet()
                        font-size 15px
                        left 85px
                    +below(750px)
                        max-width 100px
                    +mobile()
                        font-size 16px
                        left 110px
                &.active span
                    font-weight 700
                &.active
                &:hover
                    span
                        color $vermelho
                    .icone:after
                        border-color $vermelho
        .texto
            width 56%
            float right
            +mobile()
                width 100%
            div
                background #fff
                padding-top 20px
                padding-bottom 20px
                *:first-child
                    margin-top 0
            p
                ubuntu 14
                color $texto
            h2
                color $vermelho
                ubuntu 18 bold
            h3
                color $laranja
                ubuntu 14 bold
            p
            h2
            h3
            ul
                padding 0 0 0 40px
                +mobile()
                    padding 0 20px
            h1
                background #F19A7B
                ubuntu 20 normal
                margin 0
                color #fff
                padding 12px 40px
                border-radius 40px 0 0 0
                +mobile()
                    padding-left 20px
                    border-radius 20px 0 0 0
            ul
                list-style-type none
                margin 1em 0 1.5em
                li
                    ubuntu 14
                    color $texto
                    position relative
                    padding-left 1em
                    margin .6em 0
                    strong
                        ubuntu 18 bold
                    &:before
                        content ''
                        position absolute
                        width 3px
                        height 3px
                        background $texto
                        left 0
                        top .45em
                        border-radius 100%
