footer
    width 100%
    border-top 5px solid $vermelho
    padding 25px 0
    background $img('bg-flor-rodape.png') no-repeat 65% top, $img('bg-laranja.png') repeat center $laranja
    .center
        clearfix()
    +tablet()
        .col-wrapper
            float left
            .col
                clear left
            .col + .col
                margin-top 20px
    .col
        float left
        max-width 215px
        margin-right 50px
        +mobile()
            display none
        > a
            display block
            color #4F4E4F
            ubuntu 16 bold
            margin-top 1.3em
            padding-left 18px
            position relative
            &:before
                content ''
                position absolute
                top 50%
                left 0
                width 8px
                height 3px
                margin-top -2px
                background $vermelho
                border-radius 3px
            &:first-child
                margin-top 0
            &:hover
                color $vermelho
        .subs
            padding-left 18px
            a
                display block
                ubuntu 14
                color #4F4E4F
                position relative
                padding-left 14px
                padding-right 10px
                margin-top 4px
                &:hover
                    color $vermelho
                &:before
                    content ''
                    position absolute
                    top 9px
                    left 0
                    margin-top -4px
                    width 9px
                    height 5px
                    background $img('setinha-rodape.png') no-repeat center
        .grupo-meta
            margin-top 50px
            color #fff
            ubuntu 10
            span
            img
                display block
            span
                margin-bottom 3px
    .info
        float right
        text-align right
        +mobile()
            width 100%
            float left
            text-align left
        .social
            display inline-block
            text-align left
            clearfix()
            a
                display inline-block
                float left
                width 36px
                height 36px
                background-position center
                background-repeat no-repeat
                margin-left 3px
                text-indent -9999px
                transition transform .3s
                &:hover
                    transform translateY(-3px)
                &.facebook
                    background-image $img('ico-facebook-rodape.png')
                &.twitter
                    background-image $img('ico-twitter-rodape.png')
                &.linkedin
                    background-image $img('ico-linkedin-rodape.png')
        .telefone
            margin 20px 0 12px
            ubuntu 20
            color #fff
            line-height 1
            span
                ubuntu 44
            +mobile()
                ubuntu 18
                margin-top 15px
                span
                    ubuntu 30
        .endereco
            ubuntu 12
            color #fff
            margin 0 0 15px
        .politica
            margin 0 0 15px
            display inline-block
            ubuntu 12
            color #4F4E4F
            &:hover
                color $vermelho
        .copyright
            ubuntu 10
            color #4F4E4F
            p
                margin 0
                &:last-child a:last-child
                    position relative
                    display inline-block
                    padding-right 22px
                    height 14px
                    margin-top 5px
                    &:after
                        content ''
                        position absolute
                        top 0
                        right 0
                        width 17px
                        height 14px
                        background $img('ico-trupe.png') no-repeat center
                a:hover
                    color $vermelho
