header
    .info
        width 100%
        height 40px
        background $img('bg-laranja.png') repeat center
        position relative
        z-index 103
        clearfix()
        .telefone
            height 40px
            line-height 40px
            float left
            color #fff
            ubuntu 10 bold
            padding-left 20px
            background $img('ico-telefone.png') no-repeat center left
            span
                ubuntu 15 bold
        .social
            float right
            display inline-block
            text-align left
            height 40px
            a
                height 40px
                display block
                float left
                width 30px
                text-indent -9999px
                transition background .3s
                background-repeat no-repeat
                background-position center
                position relative
                &:nth-child(2)
                    width 34px
                &:nth-child(3)
                    width 32px
                &:hover
                    background-color $amarelo
                &:before
                &:after
                    content ''
                    position absolute
                    width 1px
                    right 0
                    height 20px
                    top 10px
                    background $amarelo
                &:before
                    display none
                &:first-child:before
                    display block
                    left 0
                &:after
                    right 0
                &.facebook
                    background-image $img('ico-facebook.png')
                &.twitter
                    background-image $img('ico-twitter.png')
                &.linkedin
                    background-image $img('ico-linkedin.png')
                &.lang
                    text-indent 0
                    width auto
                    padding 0 10px
                    line-height 40px
                    ubuntu 11 bold
                    color #fff
                    transition color .3s
                    padding-left 40px
                    &.lang-pt
                        background $img('lang-pt.png') no-repeat 10px center
                    &.lang-en
                        background $img('lang-en.png') no-repeat 10px center
                    &:hover
                        background-color none
                        color $vermelho
    .main
        width 100%
        height 120px
        background #fff
        box-shadow 0 2px 25px rgba(#000, .5)
        position relative
        z-index 102
        +below($tablet)
            box-shadow 0 0 15px rgba(#000, .3)
        +mobile()
            height 90px
        .center
            clearfix()
            height 100%
        .logo
            width 282px
            height 120px
            display block
            float left
            text-indent -9999px
            background $img('marca-metatalentos.png') no-repeat center
            +mobile()
                height 90px
                width 200px
                background-size 100% auto
        #mobile-toggle
            +above($tablet)
                display none
            display block
            background-color transparent
            border 0
            position relative
            float right
            height 100%
            width 30px
            outline 0
            padding 0
            .lines
                display block
                width 100%
                height 4px
                background $laranja
                position relative
                transition .3s ease
                border-radius 2px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 4px
                    border-radius 2px
                    background $laranja
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)
        nav#desktop
            float right
            display inline-block
            height 120px
            +below($tablet)
                display none
            a
                display block
                height 120px
                float left
                padding 0 16px
                ubuntu 14
                color $texto
                text-align center
                line-height 1.3
                transition background .3s
                position relative
                .seta
                    position absolute
                    width 100%
                    height 3px
                    background $amarelo
                    bottom 0
                    left 0
                    opacity 0
                    transition opacity .3s
                    &:after
                        content ''
                        position absolute
                        bottom 3px
                        left 50%
                        margin-left -3px
                        width 0
                        height 0
                        border-style solid
                        border-width 0 3px 3px 3px
                        border-color transparent transparent $amarelo transparent
                span
                    display block
                    position relative
                    top 50%
                    left 0
                    width 100%
                    transform translateY(-50%)
                &:hover
                &.active
                    background #F2F2F2
                    .seta
                        opacity 1
    nav#mobile
        +above($tablet)
            display none !important
        display none
        background $vermelho
        position absolute
        z-index 9997
        border-bottom 4px solid darken($vermelho, 5)
        width 100%
        padding 15px 0
        text-align center
        a
            ubuntu 15 bold
            color #fff
            display block
            margin 7px 0
            &.active
                color $laranja
