.page-title
    background $vermelho
    width 100%
    h1
        margin 0
        ubuntu 32
        color #fff
        padding 1em 0
        line-height 1
        b
            font-weight normal
            display inline-block
            margin 0 .3em
            +mobile()
                display none
        span
            font-size .75em
            font-weight 700
            +mobile()
                display block
                margin-top .2em
        +mobile()
            font-size 24px
